<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>易诊App</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx4d9680cffc9b11a2</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.9</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>wechat</string>
		<string>urlscheme3</string>
		<string>urlscheme4</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>YES</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>YES</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string></string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>大表是您的化验单集合</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>查看大表</string>
			<key>UIApplicationShortcutItemType</key>
			<string>查看大表</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string></string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>设置您的用户信息和病历权限</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>设置信息权限</string>
			<key>UIApplicationShortcutItemType</key>
			<string>设置信息权限</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string></string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>查看化验单识别结果</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>化验单列表</string>
			<key>UIApplicationShortcutItemType</key>
			<string>化验单列表</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
